.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 500px;
  border: 5px dashed rgb(255, 255, 255);
  padding: 2rem;
}


.dropzone > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -50px;
}

.dropzone > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

button {
  padding: 12px;
  font-size: medium;
}

.text-white > h1 {
  color:rgb(255, 255, 255);
}

.results > h1 {
  color:rgb(255, 255, 255);
}

.flex > h1{
  color: #fff;
}

.font-bold > h1 {
  color: #fff;
}

.actions > h1 {
  color: #ffffff;
}